.page.theme-dark {
  --text-color: #c677ff;
  --background-color: #000;
  --hover-color: 198, 119, 255, 0.5;
  --button-action-color: #c677ff;
  --font-weight-regular: 465;
  --font-weight-bold: 785;
  --background-image: repeating-linear-gradient(
      to right,
      #000,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #000,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #9505fd, #4d0382);
  --heart-contour-color: #c677ff;
}

.page.theme-light {
  --text-color: #0e011c;
  --background-color: #fff;
  --hover-color: 14, 1, 28, 0.5;
  --button-action-color: #f7efff;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --background-image: repeating-linear-gradient(
      to right,
      #f7efff,
      #f7efff 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #f7efff,
      #f7efff 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #f9f8fa 0.01%, #0e011c);
  --heart-contour-color: #0e011c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #c677ff;
  --background-color: #000;
  --hover-color: 198, 119, 255, 0.5;
  --button-action-color: #c677ff;
  --font-weight-regular: 465;
  --font-weight-bold: 785;
  --background-image: repeating-linear-gradient(
      to right,
      #000,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #000,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #9505fd, #4d0382);
  --heart-contour-color: #c677ff;
  }
}
