:root {
  --text-color: #0e011c;
  --background-color: #fff;
  --hover-color: 14, 1, 28, 0.5;
  --button-action-color: #f7efff;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-family-titles: "PressStart2P", "fantasy";
  --font-family-main: "Inter-Variable", sans-serif;

  --background-image: repeating-linear-gradient(
      to right,
      #f7efff,
      #f7efff 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #f7efff,
      #f7efff 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #f9f8fa 0.01%, #0e011c);

  --heart-contour-color: #0e011c;
  --heart-main-color: red;
}
